@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&family=EB+Garamond:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@font-face {
  font-family: "PPPierSans Regular";
  src: url("/fonts/PPPierSans-Regular.otf");
}

@font-face {
  font-family: "PPObjectSans Regular";
  src: url("/fonts/PPObjectSans-Regular.otf");
}

@font-face {
  font-family: "PPAgrandir-Regular";
  src: url("/fonts/PPAgrandir-Regular.otf");
}

@font-face {
  font-family: "PPRightGroteskText-Regular";
  src: url("/fonts/PPRightGroteskText-Regular.otf");
}

@font-face {
  font-family: "PPFuji-Regular";
  src: url("/fonts/PPFuji-Regular.otf");
}

@font-face {
  font-family: "Nanum-Pen-Script";
  src: url("/fonts/NanumPenScript-Regular.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #11131f;
  scroll-snap-type: y mandatory;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
